* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

@font-face{
  font-family: Southerland;
  src: url('./images/Southerland.ttf') format('truetype');
}

.input-login{
  color: #2e5137;
  background-color:#d8e4db;
  border: 1.5px solid #2e5137;
  border-radius: 20px;
  padding: 0.3rem
}

.cover{
  height: auto;
  max-width: 100%;
}
.span-login{
  font-weight: bold;
  color: #2e5137;
}

.div-como{
  background-color: #fbf1e3;
  height: 100vh;
  text-align: center;
  padding-left: 15em;
  padding-right: 15em;
  padding-bottom: 5em;
}
.search{
  background-color: #fbf1e3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 0.4em;
}


@media (max-width: 900px){
  .div-como{
    padding-left: 3em;
    padding-right: 3em;
  }
}
